-
  var timePoints = [
    {
      year: '2003',
      title: 'Started'
    },
    {
      year: '2006',
      title: 'Important date One'
    },
    {
      year: '2010',
      title: 'Important date'
    },
    {
      year: '2016',
      title: 'Current time'
    }
  ]
